@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-primaria: #6d001a;
    --black: #141414;
}

body{
    background: linear-gradient(to bottom, #6d001a, #120003);
    background-repeat: no-repeat;
    height: 100%;
    width: 100vw;
    color: #d3d3d3;
    margin: 0;
}

::-webkit-scrollbar{
  display: none;
} 

/* --Header-- */

header{
    width: 100%;
    padding-bottom: 10px;
}

ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

li{
    list-style: none;
}

ul li h1{
    font-size: 1.2rem;
}

ul li i{
    font-size: 1.5rem;
    transition: color .3s ease;
}

ul li i:hover{
    color: black;
}

/* --Header-- */

/* msc */

.conteiner_msc{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.imgMsc{
    width: 90vw;
    height: 100%;
    max-width: 320px;
    border-radius: 20px;
    overflow: hidden;
}

.imgMsc img{
    width: 100%;
    height: 100%;
    max-width: 320px;
}

.conteiner_tittle{
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 20px;
}

.text_msc{
    font-family: "Inter" ,'Times New Roman', Times, serif;
}

.text_msc h1{
    font-size: 1.8rem;
    padding: 0px 0px 5px 0px;
}

.text_msc h2{
    font-weight: 300;
    font-size: 1rem;
}

.conteiner_tittle i{
    font-size: 3rem;
    transform: translateY(5%);
}

.progress-player{
    background-color: #d6d6d6;
    border-radius: 5px;
    cursor: pointer;
    margin: 0px 0px 15px;
    height: 3px;
    width: 80%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

.progress{
    background-color: var(--cor-primaria);
    border-radius: 0px;
    height: 100%;
    width: 0%;
    transition: width .3s ease-out;
}

.music-duraction{
    position: relative;
    top: 100%;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.conteiner_controls{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 1.6rem;
}

.controls{
    font-size: 2rem;
    display: flex;
    gap: 20px;
}


.controls .ri-play-circle-fill{
    font-size: 4rem;
    transform: translateY(-30%);
}

/* --msc-- */

/* mensagem */

.conteiner_mensagem{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.mensagem{
    background-color: var(--cor-primaria);
    width: 80%;
    padding: 15px;
    border-radius: 15px;
    font-family: "Poppins", 'Times New Roman', Times, serif;
    font-weight: 700;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
    position: relative; 
}

.mensagem h1{
    font-size: 1.2rem;
    padding-bottom: 20px;
}

.mensagem p{
    font-size: 1.5rem;
    padding-bottom: 10px;
    -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}

.mensagem button{
    width: 150px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: .8rem;
    font-weight: 600;
    transition: background-color .3s ease;
    cursor: pointer;
}

.mensagem.expanded {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  border-radius: 0;
  background-color: #580f41;
  overflow-y: auto;

}

.mensagem.expanded p{
    -webkit-mask-image: none;
    mask-image: none;
    
}

.content-full { 
    display: none !important; 
}

.mensagem.expanded .content-preview { 
    display: none !important;
}

.mensagem.expanded .content-full {
    display: flex !important; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    padding: 20px;
    gap: 20px;
}

.mensagem.expanded .content-full .sup-msg{
    display: flex;
    gap: 10px;
    flex-flow: column;
}

.mensagem.expanded .content-full .bottom-msg{
    align-self: center;
}

.mensagem.expanded .content-full button{
    background-color: transparent;
    background-color: white;
    width: 20%;
    padding: 5px;
    font-size: 1.3rem;
    transition: background-color .3s ease;
}

.mensagem.expanded .content-full button:hover{
    background-color: #d3d3d3;
}

/* --mensagem controls-- */

.mensagem.expanded .content-full .progress-player{
    width: 100%;
}

.mensagem.expanded .content-full .conteiner_controls{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 1.6rem;
    gap: 30px;
}

.mensagem.expanded .content-full .controls{
    font-size: 2rem;
    display: flex;
    gap: 20px;
}


.mensagem.expanded .content-full .controls .ri-play-circle-fill{
    font-size: 4rem;
    transform: translateY(-30%);
}

/* --mensagens controls--- */
.mensagem .content-preview span{
    display: none;
}


.mensagem button:hover{
    background-color: #a3a3a3;
}

/* --mensagem-- */

/* card */

.conteiner-card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.card{
    width: 90%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
}

.img_card{
    background-image: url(imgs/hero2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    padding: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.conteiner_card_text{
    background-color: #3f000f;
    padding: 15px;
    font-family: "Poppins", 'Times New Roman', Times, serif;
}   

.conteiner_card_text h1{
    font-size: 1.5rem;
}

.conteiner_card_text h2{
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 20px;
}

.card_dias{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.bloco{
    width: 1fr;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
    font-size: 1.4rem;
}

.bloco p{
    font-size: .8rem;
}

/* --CARD--  */

/* STORY */ 

.conteiner_story{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    font-family: "Poppins", 'Times New Roman', Times, serif;
}

.story{
    background-color: var(--cor-primaria);
    width: 90%;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
}

.story h1{
    font-size: 1.2rem;
}

.fotos{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding-top: 20px;
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.fotos1, .fotos2, .fotos3{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    font-size: .5rem;
    padding: 0px 0px 5px 5px;
    border-radius: 10px;    
    display: flex;
    align-items: end;
    transition: transform .5s ease;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}

.fotos1{
    background-image: url(imgs/eu-e-meuamor.jpeg);
}

.fotos2{
    background-image: url(imgs/alien.jpeg);
    background-position: 25% 50%;
}

.fotos3{
    background-image: url(imgs/eu-e-meubem.jpeg);
}

.fotos1 h1, .fotos2 h1, .fotos3 h1{
    font-size: .8rem;
    transform: translate(-20%, 10%);
}

.fotos1:hover, .fotos2:hover, .fotos3:hover{
    transform: scale(1.05);
}

.content_preview{
    width:100%;
    height:100%;
    display:flex;
    align-items:end;
    cursor:pointer;
}


/* story expansion */

.fotos1, .fotos2, .fotos3 {
  border-radius: 20px;
  padding: 20px;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  position: relative;
  width: 100%; /* Largura dentro do container */
}

/* Estado Expandido */
.fotos1.expanded, .fotos2.expanded, .fotos3.expanded {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  border-radius: 0;
  overflow-y: auto;
  background: linear-gradient(to bottom, #6d001a, #120003);
  padding: 0;
}

.fotos1.expanded:hover, .fotos2.expanded:hover, .fotos3.expanded:hover{
    transform: none;
}

.content-full {
    display: none; 
}

.fotos1.expanded .content-full,
.fotos2.expanded .content-full,
.fotos3.expanded .content-full {
    display: flex !important; 
    height: 100%;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.fotos1.expanded .content-full .foto1-album1,
.fotos2.expanded .content-full .foto2-album2,
.fotos3.expanded .content-full .foto3-album3{
    width: 100vw;
    height: 100vh;
    position: relative; /* Isso prende os controles invisíveis aqui */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.fotos1.expanded .content-full .foto1-album1{
    background-image: url(imgs/eu-e-meuamor.jpeg);
}

.fotos2.expanded .content-full .foto2-album2{
    background-image: url(imgs/alien.jpeg);
}

.fotos3.expanded .content-full .foto3-album3{
    background-image: url(imgs/eu-e-meubem.jpeg);
}

.fotos1.expanded .content_preview,
.fotos2.expanded .content_preview,
.fotos3.expanded .content_preview {
    display: none; 
}

.foto1-album1,
.foto2-album2,
.foto3-album3 {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between; /* Joga as setas para as pontas */
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    transition: background-image 0.3s ease-in-out; /* Suaviza a troca de foto */
    position: relative;
}

/* Estilo das setas */
.foto1-album1 i,
.foto2-album2 i,
.foto3-album3 i {
    color: white;
    font-size: 3rem;
    cursor: pointer;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    z-index: 10000;
}


/* Botão de fechar no topo */
.close-story {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 3rem;
    cursor: pointer;
    font-family: Arial, sans-serif;
    z-index: 1000000;
}


/* story expansion */


/* --STORY-- */

/* CONQUISTAS */

.conteiner_conquistas{
    width: 100%;
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
}

.conquistas{
    background-color: #3f000f;
    width: 90%;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
}

.tittle_conquistas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", 'Times New Roman', Times, serif;
    padding-bottom: 10px;
}

.tittle_conquistas h1{
    font-size: 1.4rem;
}

.tittle_conquistas h2{
    font-size: .9rem;
    font-weight: 400;
}

.tittle_conquistas span{
    background-color: #141414;
    padding: 5px;
    border-radius: 10px;
}

.blocos_conquista{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.bloco1-conquista, .bloco2-conquista, .bloco3-conquista, .bloco4-conquista{
    background-color: #6d001a;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #e7073b;
    transition: transform .5s ease;
}

.bloco1-conquista:hover, .bloco2-conquista:hover, .bloco3-conquista:hover, .bloco4-conquista:hover{
    transform: scale(1.05);
}
/* --CONQUISTAS-- */

/* WRAPPED */

.conteiner_wrapped{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    view-transition-name: wrapped;
    transition: all 0.6s cubic-bezier(.4,0,.2,1);
}

.wrapped{
    width: 90%;
    height: 350px;
    border-radius: 15px;
    padding: 15px;
    background-image: url(imgs/wrapped.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Poppins", 'Times New Roman', Times, serif;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    align-items: center;
}

.text_wrapped{
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}

.text_wrapped h1{
    font-size: 1.8rem;
}

.wrapped button{
    width: 50%;
    padding: 15px;
    font-family: "Poppins", 'Times New Roman', Times, serif;
    background-color: #e1acf0;
    border: none;
    border-radius: 15px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    transition: background-color .5s ease;
    cursor: pointer;
}

.wrapped button:hover{
    background-color: #d19edf;
}


/* wrapped expansion */

.progress-container {
    position: absolute;
    top: 20px; /* Desci um pouco para não colar no topo */
    left: 0;
    width: 100%;
    padding: 0 15px;
    display: flex;
    gap: 6px;
    z-index: 100002; /* Aumentei o z-index */
    box-sizing: border-box;
    height: 10px; /* Altura para o container */
}

#progress-bars {
    display: flex;
    width: 100%;
    gap: 5px;
}

.progress-bar-bg {
    flex: 1;
    height: 4px; /* Aumentei um pouco a espessura */
    background-color: rgba(255, 255, 255, 0.3); /* Um pouco mais visível */
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar-fill {
    height: 100%;
    width: 0%;
    background-color: white;
    transition: width 0.3s ease; /* Transição mais suave */
}

.wrapped-full{
    display:none;
}

.conteiner_wrapped.expanded .wrapped-full{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:100%;
    gap:40px;
    background: linear-gradient(270deg, #5f0016, #120003, #3f000f);
    background-size: 600% 600%;
    animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.conteiner_wrapped.expanded .wrapped.preview{
    display:none;
}

.conteiner_wrapped.expanded {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    border-radius: 0;
    overflow-y: auto;
    background: black;
    padding: 0;
}

.conteiner_wrapped.expanded .wrapped{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
    flex-direction:column;
    background-image: none;
}

.slides-viewport{
    width:100vw;
    height:100vh;
    overflow:hidden;
}

.slides-track{
    display:flex;
    height:100%;
    transition:transform 0.6s ease;
}

.slide{
    min-width:100vw;
    height:100vh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    font-size:2rem;
    color:white;

    font-family: "Poppins", 'Times New Roman', Times, serif;

    z-index: 2;

    text-shadow: 0px 0px 20px rgba(0, 0, 0, 5);

    position: relative;

}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes entrada {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


.conteiner_wrapped.expanded .wrapped .text_wrapped{
    display: none;
}

.conteiner_wrapped.expanded .wrapped button{
    display: none;
}

.close{
    display: flex;
    position:absolute;
    top:20px;
    right:20px;
    font-size: 3rem;
    color:white;
    cursor:pointer;
    z-index:100000;
}

.controles-invisiveis {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 10000; /* Fica na frente de tudo */
    pointer-events: none; /* O container pai não bloqueia, mas os filhos sim */
}

.area-clique {
    flex: 1; /* Divide a tela em duas metades iguais */
    height: 100%;
    pointer-events: auto; /* Faz o clique funcionar nessas áreas */
    cursor: pointer;
    /* background: rgba(255, 0, 0, 0.1); */ /* Descomente esta linha para testar onde os cliques estão caindo */
}

/* Opcional: cursores diferentes para saber onde clicar */
.area-clique.esquerda { cursor: w-resize; }
.area-clique.direita { cursor: e-resize; }

/* DENTRO DO WRAPPED - SLIDES */

@keyframes infiniteScrollAndStop {
  /* 1ª Volta: Ele entra por cima e sai por baixo */
  0% { transform: translateY(-100vh); display: flex;}
  30%{transform: translateY(100vh); display: none;}

  /* 2ª Volta: Ele reaparece no topo e sai por baixo de novo */
  31% { transform: translateY(-100vh); display: flex; opacity: 0;}
  60% { transform: translateY(100vh); display: none; opacity: 1}

  /* Volta Final: Ele entra e para no 0 (lugar original) */
  61% { transform: translateY(-100vh); display: none;}
  100% { transform: translateY(0); display: flex;}
}

#horas{
    width: 100%;
    height: 100%;
    display: flex;
}

.hr-dias{
    width: 100vw;
    height: calc(100vh / 6);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    text-shadow: none;
    animation: infiniteScrollAndStop 5s cubic-bezier(0.5, 0.05, 0.55, 0.95) forwards;
}

.hr-dias h1{
    animation: entrada 2s ease, pulse 2s ease-in-out infinite;
}


#h1{
    background-color: #1DB954;
    color: black;
}

#h1 h1{
    margin-top: 15px;
}

#h2{
    background-color: #C56893;
    color: black;
}

#h3{
    background-color: #D8701B;
    color: black;

}

#h4{
    background-color: #50008C;
    color: rgb(209, 209, 43);
}

#h5{
    background-color: #121212;
    color: #D8701B;
    
}

#h6{
    background-color: #C56893;
    color: black;
}

/* -- */

.slide2::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 200px;
    left: 0;
    
    background: linear-gradient(to bottom, #580f41, #C56893);
    
    -webkit-mask-image: repeating-linear-gradient(
        90deg, 
        black 0px, 
        black 30px, 
        transparent 30px, 
        transparent 35px
    );
    mask-image: repeating-linear-gradient(
        90deg, 
        black 0px, 
        black 30px, 
        transparent 30px, 
        transparent 35px
    );

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 30%);
}

.slide2::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 200px;
    left: 0;
    
    /* Gradiente Vertical (Laranja para Amarelo) igual à foto */
    background: linear-gradient(to bottom, #580f41, #C56893);
    
    /* Máscara que cria o corte inclinado */
    -webkit-mask-image: repeating-linear-gradient(
        90deg, 
        black 0px, 
        black 30px, 
        transparent 30px, 
        transparent 35px
    );
    mask-image: repeating-linear-gradient(
        90deg, 
        black 0px, 
        black 30px, 
        transparent 30px, 
        transparent 35px
    );

    clip-path: polygon(0 0, 100% 0, 100% 30%, 0 100%);
}



/* Posicionamento no Topo */
.slide2::before {
    top: 0;
}

/* Posicionamento na Base (Invertido) */
.slide2::after {
    bottom: 0;
    transform: scaleY(-1); /* Inverte para a escadinha olhar para cima */
}

/* Estilização do texto central */
.conteudo-central {
    animation: entrada 2s ease, pulse 2s ease-in-out infinite;
    text-align: center;
    color: white;
    z-index: 10; /* Garante que o texto fique acima de qualquer fundo */
}

.conteudo-central h2 {
    font-size: 1.5rem;
    opacity: .8;
    margin-bottom: 0;
}

.conteudo-central h1 {
    font-size: 80px;
    font-weight: 900;
    margin: 10px 0;
}

.conteudo-central p {
    font-size: 18px;
    opacity: 0.8;
}

/* --- */

.escada, .escada2 {
    position: absolute;
    display: flex;
    gap: 6px;
    z-index: 1;
    pointer-events: none;
    animation: Transparentes 1.5s ease-in-out infinite alternate;
}

@keyframes Transparentes {
    0% {
        opacity: 0.2; /* Não recomendo 0 total para não sumir de vez, mas pode usar 0 se preferir */
        transform: scale(0.95); /* Dá um leve efeito de movimento junto */
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.escada2{
    z-index: 999999;
}

.escada span, .escada2 span {
    display: block;
    width: 30px;
    /* Se quiser a cor exata do print (verde mais fechado): */
    background: linear-gradient(to bottom, #cf2298, #5e0f45); 
    pointer-events: none;
}

/* --- TOPO ESQUERDA --- */
.topo-esquerda, .topo-esquerda2 { 
    top: 0; 
    left: 0px; 
    align-items: flex-start; 
}
.topo-esquerda span:nth-child(1), .topo-esquerda2 span:nth-child(1) { 
    height: 250px; 
}
.topo-esquerda span:nth-child(2), .topo-esquerda2 span:nth-child(2) { 
    height: 210px; 
}
.topo-esquerda span:nth-child(3), .topo-esquerda2 span:nth-child(3) { 
    height: 170px; 
}
.topo-esquerda span:nth-child(4), .topo-esquerda2 span:nth-child(4) { 
    height: 140px; 
}

/* --- TOPO DIREITA (Invertida) --- */
.topo-direita, .topo-direita2{ 
    top: 0; 
    right: 0px; 
    align-items: flex-start; 
}

.topo-direita span:nth-child(1), .topo-direita2 span:nth-child(1) { 
    height: 140px; 
}
.topo-direita span:nth-child(2), .topo-direita2 span:nth-child(2) { 
    height: 170px; 
}
.topo-direita span:nth-child(3), .topo-direita2 span:nth-child(3) { 
    height: 210px; 
}
.topo-direita span:nth-child(4), .topo-direita2 span:nth-child(4) { 
    height: 250px; 
}

/* --- BAIXO ESQUERDA --- */
.baixo-esquerda, .baixo-esquerda2 { 
    bottom: 0; 
    left: 0px; 
    align-items: flex-end; 
}
.baixo-esquerda span:nth-child(1), .baixo-esquerda2 span:nth-child(1) { 
    height: 250px; 
}
.baixo-esquerda span:nth-child(2), .baixo-esquerda2 span:nth-child(2) { 
    height: 210px; 
}
.baixo-esquerda span:nth-child(3), .baixo-esquerda2 span:nth-child(3) { 
    height: 170px; 
}
.baixo-esquerda span:nth-child(4), .baixo-esquerda2 span:nth-child(4) { 
    height: 140px; 
}


/* --- BAIXO DIREITA (Invertida) --- */
.baixo-direita, .baixo-direita2 { 
    bottom: 0; 
    right: 0px; 
    align-items: flex-end; 
}

.baixo-direita span:nth-child(1), .baixo-direita2 span:nth-child(1) { 
    height: 140px; 
}
.baixo-direita span:nth-child(2), .baixo-direita2 span:nth-child(2) { 
    height: 170px; 
}
.baixo-direita span:nth-child(3), .baixo-direita2 span:nth-child(3) { 
    height: 210px; 
}
.baixo-direita span:nth-child(4), .baixo-direita2 span:nth-child(4) { 
    height: 250px; 
}

#hearts-container {
  position: absolute; /* relativo ao wrapped-full */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

@keyframes subir {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}

.heart {
  position: absolute;
  bottom: 0;
  animation: subir linear forwards;
}


.slide-escada{
    color: var(--cor-primaria);
    text-align: center;
}

.slide-escada h1{
    font-size: 2.5rem;
    animation: entrada 2s ease ,pulse 2s ease-in-out infinite;
}

.slide-escada p{
    font-size: 1rem;
    width: 70%;
    text-align: center;
    color: white;
    animation: entrada 2s ease ,pulse 2s ease-in-out infinite;

}

/* -- */

.timeline-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 50px 0px;
    display: flex;
    flex-flow: column;
    gap: 70px;
    overflow-y: auto;
}



/* A Linha Vertical Centralizada */
.timeline-container::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #ffffff33;
    transform: translateX(-50%);
    z-index: 1;
}

.moment{
    width: 1fr;
    display: flex;
    justify-content: center;
    display: flex;
    flex-flow: row;
    width: 100%;
    gap: 20px;
    padding: 0 20px;
}

.moment h1{
    font-size: 1rem;
}

.moment p{
    font-size: 1rem;
}

.card-moment{
    background-color: white;
    color:black;
    padding: 10px;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    border-radius: 10px;
    width: 80%;
}

.card-m1{
    transform: rotate(-10deg);
}

.card-m2{
    transform: rotate(10deg);
}

.card-moment .img-moment1{
    width: 100%;
    height: 130px;
    background-image: url(imgs/palhaco.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.card-moment .img-moment2{
    width: 100%;
    height: 120px;
    background-image: url(imgs/nossas-primeiras-interacoes.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.card-moment .img-moment3{
    width: 100%;
    height: 120px;
    background-image: url(imgs/noises-na-escola.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.card-moment .img-moment4{
    width: 100%;
    height: 120px;
    background-image: url(imgs/cineminha.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.card-moment .img-moment5{
    width: 100%;
    height: 120px;
    background-image: url(imgs/eternizados-no-museu.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.card-moment .img-moment6{
    width: 100%;
    height: 120px;
    background-image: url(imgs/eu-admirando-ela.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.card-moment .img-moment7{
    width: 100%;
    height: 120px;
    background-image: url(imgs/eu-e-meubem.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.card-moment .img-moment8{
    width: 100%;
    height: 120px;
    background-image: url(imgs/heroG.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.text-moment{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
}

.text-moment h1{
    font-size: 1.2rem;
}

.text-moment p{
    font-size: .8rem;
}

.moment-left .dot{
    transform: translate(20%, 10%);
}

.moment-right .dot{
    transform: translate(-20%, 10%);
}

