@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-primaria: #6d001a;
    --black: #141414;
}

body{
    background: linear-gradient(to bottom, #6d001a, #120003);
    background-repeat: no-repeat;
    height: 100%;
    width: 100vw;
    color: #d3d3d3;
    margin: 0;
}
/* 
::-webkit-scrollbar{
  display: none;
} */

/* --Header-- */

header{
    width: 100%;
    padding-bottom: 10px;
}

ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

li{
    list-style: none;
}

ul li h1{
    font-size: 1.2rem;
}

ul li i{
    font-size: 1.5rem;
    transition: color .3s ease;
}

ul li i:hover{
    color: black;
}

/* --Header-- */

/* msc */

.conteiner_msc{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.imgMsc{
    width: 90vw;
    height: 100%;
    max-width: 320px;
    border-radius: 20px;
    overflow: hidden;
}

.imgMsc img{
    width: 100%;
    height: 100%;
    max-width: 320px;
}

.conteiner_tittle{
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 20px;
}

.text_msc{
    font-family: "Inter" ,'Times New Roman', Times, serif;
}

.text_msc h1{
    font-size: 1.8rem;
    padding: 0px 0px 5px 0px;
}

.text_msc h2{
    font-weight: 300;
    font-size: 1rem;
}

.conteiner_tittle i{
    font-size: 3rem;
    transform: translateY(5%);
}

.progress-player{
    background-color: #d6d6d6;
    border-radius: 5px;
    cursor: pointer;
    margin: 0px 0px 15px;
    height: 3px;
    width: 80%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

.progress{
    background-color: var(--cor-primaria);
    border-radius: 0px;
    height: 100%;
    width: 0%;
    transition: width .3s ease-out;
}

.music-duraction{
    position: relative;
    top: 100%;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.conteiner_controls{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 1.6rem;
}

.controls{
    font-size: 2rem;
    display: flex;
    gap: 20px;
}


.controls .ri-play-circle-fill{
    font-size: 4rem;
    transform: translateY(-30%);
}

/* --msc-- */

/* mensagem */

.conteiner_mensagem{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.mensagem{
    background-color: var(--cor-primaria);
    width: 80%;
    padding: 15px;
    border-radius: 15px;
    font-family: "Poppins", 'Times New Roman', Times, serif;
    font-weight: 700;
}

.mensagem h1{
    font-size: 1.2rem;
    padding-bottom: 20px;
}

.mensagem p{
    font-size: 1.5rem;
    padding-bottom: 10px;
    -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}

.mensagem span{
    display: none;
}

.mensagem button{
    width: 150px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: .8rem;
    font-weight: 600;
    transition: background-color .3s ease;
    cursor: pointer;
}

.mensagem button:hover{
    background-color: #a3a3a3;
}

/* --mensagem-- */

/* card */

.conteiner-card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.card{
    width: 90%;
    border-radius: 15px;
    overflow: hidden;
}

.img_card{
    background-image: url(imgs/hero2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    padding: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.conteiner_card_text{
    background-color: #3f000f;
    padding: 15px;
    font-family: "Poppins", 'Times New Roman', Times, serif;
}   

.conteiner_card_text h1{
    font-size: 1.5rem;
}

.conteiner_card_text h2{
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 20px;
}

.card_dias{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.bloco{
    width: 1fr;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
    font-size: 1.4rem;
}

.bloco p{
    font-size: .8rem;
}

/* --CARD--  */

/* STORY */ 

.conteiner_story{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    font-family: "Poppins", 'Times New Roman', Times, serif;
}

.story{
    background-color: var(--cor-primaria);
    width: 90%;
    border-radius: 15px;
    padding: 15px;
}

.story h1{
    font-size: 1.2rem;
}

.fotos{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding-top: 20px;
}

.fotos1, .fotos2, .fotos3{
    background-image: url(imgs/hero2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    font-size: .5rem;
    padding: 0px 0px 5px 5px;
    border-radius: 10px;    
    display: flex;
    align-items: end;
    transition: transform .5s ease;
}

.fotos1:hover, .fotos2:hover, .fotos3:hover{
    transform: scale(1.05);
}

/* --STORY-- */

/* CONQUISTAS */

.conteiner_conquistas{
    width: 100%;
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
}

.conquistas{
    background-color: #3f000f;
    width: 90%;
    padding: 15px;
    border-radius: 15px;
}

.tittle_conquistas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", 'Times New Roman', Times, serif;
    padding-bottom: 10px;
}

.tittle_conquistas h1{
    font-size: 1.4rem;
}

.tittle_conquistas h2{
    font-size: .9rem;
    font-weight: 400;
}

.tittle_conquistas span{
    background-color: #141414;
    padding: 5px;
    border-radius: 10px;
}

.blocos_conquista{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.bloco1-conquista, .bloco2-conquista, .bloco3-conquista, .bloco4-conquista{
    background-color: #6d001a;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #e7073b;
    transition: transform .5s ease;
}

.bloco1-conquista:hover, .bloco2-conquista:hover, .bloco3-conquista:hover, .bloco4-conquista:hover{
    transform: scale(1.05);
}
/* --CONQUISTAS-- */

/* WRAPPED */

.conteiner_wrapped{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.wrapped{
    width: 90%;
    height: 350px;
    border-radius: 15px;
    padding: 15px;
    background-image: url(imgs/wrapped.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Poppins", 'Times New Roman', Times, serif;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    align-items: center;
}

.text_wrapped{
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}

.text_wrapped h1{
    font-size: 1.8rem;
}

.wrapped button{
    width: 50%;
    padding: 15px;
    font-family: "Poppins", 'Times New Roman', Times, serif;
    background-color: #e1acf0;
    border: none;
    border-radius: 15px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    transition: background-color .5s ease;
}

.wrapped button:hover{
    background-color: #d19edf;
}